*{
    padding: 0;
    margin: 0;
}

body{
    background-image:url(../img/logobody.png);
    background-repeat: no-repeat;
    background-color: #E5E5E5;
}

#content{
    margin: 10px auto;
    display: flex;
    width: 400px;
    height: 466px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    

}

#singup-form{
    display: flex;
    flex-direction: column;
    padding: 10px auto;
}

#logo-form{
    margin: 10px auto;
}

#text{
    color: #00995D; 
    margin: 1px 10px 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#nameForm, #emailForm{
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #BDBDBD;
    border-radius: 8px;
}

#prosseForm{
    margin-left: 150px;
    background-color:#00995D ;
    height: 30px;
    border-radius: 8px;
    color: white;
    width: 152px;   
}

.logocadastro{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;

}
 /*-------------------------------------------------parte 2 ------------------------------------------------------*/
#content1{
    margin:10px auto;
    /*width: 400px;
    height: 900px;
    background: #FFFFFF;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);*/
    border-radius: 16px;

}
#singup-form1{
    margin: 10px auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}


#text1{
    color: #00995D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#senhaForm, #confirmForm{
    height: 30px;
    width: 300px;
    background: #FFFFFF;
    border: 2px solid #BDBDBD;
    border-radius: 8px;
}



#restriForm{
    padding: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
}




#buttom2{
    margin-top: 30px;
}
