@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F2F2;
}

h3{
    font-family: 'Comfortaa', cursive;
    font-Weight:400px;
    Size:24px;
    color: #4F4F4F;
}

#header{
    background-color:#FFFFFF;
    width: 100vw;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
}

#logoheader{
    
    width: 80px;
    height: 80.75px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    
}
#logo{
    Width:28.85px;
    Height:44.33px;
    display:flex;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: #212121;
}

#voltarListagem{
    margin-right: auto;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
}

.bemvindo{
    color: #017849;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-Weight:400px;
    font-family: 'Montserrat', sans-serif;
}

#contentheader{
    margin: 20px auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 1084px;
    height: 101px;
    

}

#textpacientes{
    margin: 10px auto;
    color: #4F4F4F;
    width: 1100px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
#contenBody{
    margin: 10px auto;
    width: 1104px;
    height: 100%;
    display: flex;
    

}
#idusuario{
    
    background-color:#FFFFFF;
    width: 340px;
    height: 350px ;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}
#opcao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 770px;
    height: 80px;
    margin-left: 40px;
    background-color: #FFFFFF;
}
#section{

    margin-left: 40px;
    width: 770px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 8px 8px 0px;
    box-sizing: border-box;
    border-left: 5px solid #00995D;
    position: relative;
  
}

#sectionPersonagem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #017849;
    margin-left: 35px;
    margin-top: -23px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
    
    
 
}

#imgSection{

    height: 40px;
    width: 40px;
}
#sectionContent{
   margin: 1px;

}

#retan{
    margin-left: 101px;
    height: 50px;
    

}
#store{
    margin-top: 60px;
}
#filtrolinha{
    
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 35px;
}
#linha{
    width: 657px;
    height: 0px;
    border: 1px solid #BDBDBD;
}

.section{
    margin-left: 40px;
    width: 770px;
    height: 200px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 8px 8px 0px;
    box-sizing: border-box;
    border-left: 5px solid #2F80ED;
}

.sectionPersonagem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F80ED;
    margin-left: 35px;
    margin-top: -23px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: relative;
    
    
 
}

.imgSection{

    height: 40px;
    width: 40px;
}

#sessaop{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
#textsessao{
    width: 740px;
    margin-top: 15px;
    margin-left: 15px;

}

#pesquisa{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#sessao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #616161;
    background-color: #FFFFFF;
}

#sessao1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #616161;
    background-color: #FFFFFF;
}

#buscar{
    background-color:#FFFFFF;
    border:solid 2px #BDBDBD;
    border-radius:10px;
    width:379px;
    height:38px;    
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:254px;
  }
  
  #btnBusca{
    border:none;
    height:38px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:0 7px 7px 0;
    width:120px;
    font-family: 'Montserrat';
    font-size: 16px;
    background:#00995D;
    color: #FFFFFF;
    
  }
  
#search{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#idusuario{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #00995D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

}
#paciente{
    margin: 1px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #212121;
}
#conteudo{
    margin-left: 20px;
    height: 280px;
    display: flex;
    flex-direction: column;
}
#conteudop{
    margin-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #616161;
}


#modal5{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    display:none;
    justify-content: center;
    align-items: center;

}

#modalcoten{
    width: 650px;
    height: 444px;
    background: white;
    border-radius: 8px;
    overflow-y: scroll;
  
    
}

#fechar{
    border: 4px solid white;
    cursor: pointer;
}
#modalSessao{
    margin: 10px auto;
    width: 460px;
    display: flex;
    justify-content: center;
    
}

#msessao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 50px;
    width: 578px;
    margin: 10px auto;

    
}
#msessao, h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #00995D;
}
#nSessao{
    margin: 10px auto;
   display: flex;
   align-items: center;


}

#dadosGerais{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}


#indice{
    width: 32px;
    height: 32px;
    border-radius: 90px;
    background-color: #017849;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#dadosGeraish4{
    padding-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;

}
 #datas{
    display: flex;
    height: auto;
 }
#labelDatas{
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
#labelTitulo{
        margin-left: 35px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

}

#hFim, #data,#hInicio{
    height: 48px;
    width: 180px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    margin: 5px
}
#titulo4{
    width: 560px;
    margin-left: 35px;
    height: 48px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}

#rSessao{
    width: 560px;
    margin-left: 35px;
    height: 153px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}
#pago{
    display: flex;
    align-items: center;
    width: 182px;
    justify-content: space-evenly;
    margin-top: 15px;
}
#dica{
    display: flex;
    width: 350px;
    align-items: stretch;
    margin-left: 35px;
    margin: 30px;
}

#rodape{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

section{
    margin: 15px auto;
}


#buttonConfirm{
    font-size: 15px;
    background-color: white;
    border:0px;
    border-radius: 8px;
    cursor: pointer;
    color:#616161;
    padding: 15px 15px 15px 20px;
   

}
#buttonConfirm:hover{
    background-color: #00995D;
    color: white;

}
#button1{
    display: flex;
}

#modal6{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    display:none;
    justify-content: center;
    align-items: center;

}

#hFim2, #data2,#hInicio2{
    height: 48px;
    width: 382px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    margin: 5px
}
#labelDatas2{
    margin-left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}
#desc2{
    Width:578px;
    Height:153px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    margin-left: 25px;
}